@import 'theme';

body {
    background-color: black;
    font-size: 18px;
    font-family: $Titillium;
    color: $white;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
}

.bg-red {
    background-color: $red;
}

section.container,
section.container-fluid {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
