@import './theme.scss';

.container {
    min-height: 80vh;
    // position: relative;
}

.latestVideo {
    // position: absolute;
    // bottom: 5%;
    // right: 0;
    // width: 40%;
    background-color: black;
    opacity: 0.9;
    padding: 2rem;
}

.watchNow {
    color: $white;
    font-size: 5vmin;
    font-weight: bold;
    white-space: nowrap;
}