@import './theme.scss';

.heroContainer {
    height: 95vh;
    // position: relative;
}

.heroImage {
    top: -50%;
    left: 0;
    filter: brightness(80%);
}

.latestVideo {
    // position: absolute;
    // bottom: 5%;
    // right: 0;
    // width: 40%;
    background-color: black;
    opacity: 0.9;
    padding: 2rem;
}

.watchNow {
    color: $white;
    font-size: 5vmin;
    font-weight: bold;
    white-space: nowrap;
    height: 1.5em;
    width: auto;
    margin: 0 0.25em;
    &:hover {
        circle {
            fill: $blue;
        }
        
    }
}

.globe {
    top: 40%;
    right: -10%;
    transform: translate(0, -50%);
    height: 100%;
    width: auto;
}

.fork {
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}