@import '../styles/theme';

$navHeight: 3rem;

.navbar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $dark-gray;
    overflow-y: visible;
    z-index: -1;
}

.navbar:before, .navItem {
    height: $navHeight;
}

.navItem {

}

.navItem:hover {
    background-color: $black;
}

.logo {
    color: $white;
    font-size: $navHeight * .7;
    line-height: $navHeight * .5;

    &:hover {
        text-decoration: none;
        color: $white;
    }

    img {
        height: $navHeight;
        width: auto;
    }
}

.link {
    color: $white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: $navHeight;
}

.link:hover {
    color: $white;
    text-decoration: none;
}

.activeLink {
    background-color: $red;
}

.icon {
    display: inline-block;
    margin-bottom: -1px;
    margin-left: 5px;
}

.toggle {
    
}