@import '../styles/theme';

.navbar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $dark-gray;
    overflow-y: visible;
    z-index: -1;
}

.navbar:before, .navItem {
    height: 2rem;
}

.navItem:hover {
    background-color: $black;
}

.logo {
    color: $white;
    font-size: 2rem;

    &:hover {
        text-decoration: none;
        color: $white;
    }

    img {
        width: 5rem;
    }
}

.link {
    margin: 1rem;
    color: $white;
    font-weight: bold;
}

.link:hover {
    color: $white;
    text-decoration: none;
}

.activeLink {
    // text-shadow: $shadow-red;
}

.icon {
    display: inline-block;
    margin-bottom: -1px;
    margin-left: 5px;
}