$white: #fff;
$red: #8F1E1E;
$blue: #1C7BD9;
$black: #2A2A2A;
$dark-gray: #242424;

$Titillium: 'Titillium Web', sans-serif;

$shadow: 0 0 0.4em rgba(0,0,0,0.5);

//overwrite bootstrap styles
.bg-dark {
    background-color: $dark-gray!important;
}