@import '../styles/theme';

.link {
    margin: 1rem;
    text-shadow: $shadow;
    color: $white;
    font-weight: 700;
}

.link:hover {
    color: $white;
    text-decoration: none;
}

.activeLink {
    // text-shadow: $shadow-red;
}

.icon {
    filter: drop-shadow($shadow);
}